node_modules
coverage
.DS_Store
*~
.idea/*
npm-debug.log
.vscode
tmp
.terraform
terraform.tfstate*
ssh-key*
.env
*.bak
registry-secret.yaml
.env.setupci
.git.old
.enve
.env.builde
.env.bluemixe
.env.cfe
.token